In [1]:
import pandas as pd
import numpy as np

In [2]:
dtypes_dict = {'created':'str',  'ref_type': 'category', 'device_brand': np.float32, \
                'device_countrycode': 'category', 'device_language': 'category', \
                'ref_hash': 'category', 'kind': 'str', 'user_agent': 'str'}

installs = pd.read_csv('data/installs.csv.gzip', dtype=dtypes_dict, low_memory=False)

installs = installs.drop('device_countrycode', axis=1)
installs['created'] = pd.to_datetime(installs['created'], format='%Y-%m-%d %H:%M:%S')

In [3]:
installs = installs.drop(columns=['device_language', 'ip_address', 'event_uuid', 'device_brand', \
                         'device_model', 'click_hash', 'session_user_agent'])

In [32]:
prueba= installs.loc[~installs['user_agent'].astype(str).str.lower().str.contains("tiktok|sindelantal|gardenscapes|mozilla|grability|wish|trivago|mercadopago|dalvik") == True]['user_agent']
prueba.value_counts().head()

Zaful/1.3 CFNetwork/978.0.7 Darwin/18.5.0               1748
Cornershop/539 CFNetwork/978.0.7 Darwin/18.5.0           927
Binomo/0 CFNetwork/978.0.7 Darwin/18.5.0                 915
Postmates/2325 CFNetwork/978.0.7 Darwin/18.5.0           714
TuLotero/448 CFNetwork/978.0.7 Darwin/18.5.0             691
AirBrush/4.6.7.0 CFNetwork/978.0.7 Darwin/18.5.0         614
Zaful/1.3 CFNetwork/976 Darwin/18.2.0                    529
Postmates/2286 CFNetwork/978.0.7 Darwin/18.5.0           320
CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0              262
Praia%20Bingo/26.3.2 CFNetwork/978.0.7 Darwin/18.5.0     216
TheWeather/424430 CFNetwork/978.0.7 Darwin/18.5.0        214
Workouts/2 CFNetwork/978.0.7 Darwin/18.5.0               213
yousician/57316 CFNetwork/978.0.7 Darwin/18.5.0          207
Cornershop/539 CFNetwork/976 Darwin/18.2.0               196
AirBrush/4.6.7.0 CFNetwork/976 Darwin/18.2.0             185
Rosegal/20190415.1 CFNetwork/978.0.7 Darwin/18.5.0       183
Hulu/50000411 CFNetwork/978.0.7 Darwin/18.5.0            155
Postmates/2325 CFNetwork/976 Darwin/18.2.0               152
TuLotero/448 CFNetwork/976 Darwin/18.2.0                 132
DHgate/1 CFNetwork/978.0.7 Darwin/18.5.0                 127
Name: user_agent, dtype: int64

In [4]:
# Normalizacion de valores a binario

installs['wifi'] = installs['wifi'].map({True: 1, False: 0})
installs['wifi'] = installs['wifi'].fillna(-1)

installs['attributed'] = installs['attributed'].map({True: 1, False: 0})
installs['implicit'] = installs['implicit'].map({True: 1, False: 0})

In [5]:
installs['ref_type_android'] = (installs['ref_type'].astype(str).str.contains("1891515180541284343") == True).astype(int)
installs['ref_type_iphone'] = (installs['ref_type'].astype(str).str.contains("1494519392962156891") == True).astype(int)

installs = installs.drop('ref_type', axis=1)

In [7]:
# features de dias

installs['weekday'] = installs['created'].dt.weekday

installs = pd.get_dummies(installs, columns=['weekday'])

installs = installs.rename(index=str, columns={"weekday_0": "lunes", "weekday_1": "martes", "weekday_2": "miercoles", \
                             "weekday_3": "jueves", "weekday_4": "viernes", "weekday_5": "sabado", \
                             "weekday_6": "domingo"})

In [47]:
installs.head()

,created,application_id,ref_hash,attributed,implicit,user_agent,kind,wifi,trans_id,ref_type_android,ref_type_iphone,lunes,martes,miercoles,jueves,viernes,sabado,domingo
0,2019-04-24 06:23:29.495,1,4716708407362582887,0,1,NaN,app_open,-1.0,NaN,0,1,0,0,1,0,0,0,0
1,2019-04-24 02:06:01.032,1,7143568733100935872,0,0,NaN,NaN,-1.0,NaN,0,1,0,0,1,0,0,0,0
2,2019-04-20 10:15:36.274,1,5230323462636548010,0,1,NaN,app_open,-1.0,NaN,0,1,0,0,0,0,0,1,0
3,2019-04-20 21:56:47.151,1,5097163995161606833,0,1,NaN,app_open,-1.0,NaN,0,1,0,0,0,0,0,1,0
4,2019-04-20 22:40:41.239,1,6328027616411983332,0,0,NaN,NaN,-1.0,NaN,0,1,0,0,0,0,0,1,0

In [7]:
# installs kinds to features, creo que no sirve

installs['kind_open'] = (installs['kind'].astype(str).str.lower().str.contains("open|abertura") == True).astype(int)
installs['kind_home'] = (installs['kind'].astype(str).str.lower().str.contains("home") == True).astype(int)
installs['kind_start'] = (installs['kind'].astype(str).str.lower().str.contains("start") == True).astype(int)
installs['kind_view'] = (installs['kind'].astype(str).str.lower().str.contains("view") == True).astype(int)
installs['kind_sign'] = (installs['kind'].astype(str).str.lower().str.contains("sign|registration|account") == True).astype(int)
installs['kind_login'] = (installs['kind'].astype(str).str.lower().str.contains("login|begin") == True).astype(int)
installs['kind_launch'] = (installs['kind'].astype(str).str.lower().str.contains("launch") == True).astype(int)
installs['kind_install'] = (installs['kind'].astype(str).str.lower().str.contains("install") == True).astype(int)
installs['kind_purchase'] = (installs['kind'].astype(str).str.lower().str.contains("purchase|buy") == True).astype(int)
installs['kind_add'] = (installs['kind'].astype(str).str.lower().str.contains("add") == True).astype(int)

In [ ]:
# user_agent features

installs['agent_tiktok'] = (installs['user_agent'].astype(str).str.lower().str.contains("tiktok") == True).astype(int)
installs['agent_sindelantal'] = (installs['user_agent'].astype(str).str.lower().str.contains("sindelantal") == True).astype(int)
installs['agent_gardenscapes'] = (installs['user_agent'].astype(str).str.lower().str.contains("gardenscapes") == True).astype(int)
installs['agent_dalvik'] = (installs['user_agent'].astype(str).str.lower().str.contains("dalvik") == True).astype(int)
installs['agent_wish'] = (installs['user_agent'].astype(str).str.lower().str.contains("wish") == True).astype(int)
installs['agent_trivago'] = (installs['user_agent'].astype(str).str.lower().str.contains("trivago") == True).astype(int)
installs['agent_grability'] = (installs['user_agent'].astype(str).str.lower().str.contains("grability") == True).astype(int)
installs['agent_mercadopago'] = (installs['user_agent'].astype(str).str.lower().str.contains("mercadopago") == True).astype(int)

In [6]:
# contar cuantas veces instalo un usuario

installs['total_count'] = installs.groupby('ref_hash')['ref_hash'].transform('count')

In [6]:
installs = installs.drop(columns=['kind', 'user_agent'])

# **Ventanas para train y test**

In [8]:
time_start_1 = '2019-04-18'
time_start_2 = '2019-04-19'
time_start_3 = '2019-04-20'
time_start_4 = '2019-04-21'
time_start_5 = '2019-04-22'

In [7]:
# Ventanas para train y testing
window_1 = installs.loc[installs['created'].between('2019-04-18', '2019-04-21')]
# window_2 = installs.loc[installs['created'].between('2019-04-19', '2019-04-22')]
# window_3 = installs.loc[installs['created'].between('2019-04-20', '2019-04-23')]
# window_4 = installs.loc[installs['created'].between('2019-04-21', '2019-04-24')]
# window_5 = installs.loc[installs['created'].between('2019-04-22', '2019-04-25')]

In [8]:
# Ordeno por fechas
window_1 = window_1.sort_values('created')
# window_2 = window_2.sort_values('created')
# window_3 = window_3.sort_values('created')
# window_4 = window_4.sort_values('created')
# window_5 = window_5.sort_values('created')

In [18]:
# Contar la cantidad de apariciones que tiene un usuario por ventada
window_1['count'] = window_1.groupby('ref_hash')['ref_hash'].transform('count')
# window_2['count'] = window_2.groupby('ref_hash')['ref_hash'].transform('count')
# window_3['count'] = window_3.groupby('ref_hash')['ref_hash'].transform('count')
# window_4['count'] = window_4.groupby('ref_hash')['ref_hash'].transform('count')
# window_5['count'] = window_5.groupby('ref_hash')['ref_hash'].transform('count')

In [57]:
a = (window_1.loc[window_1['count'] == 9])

In [76]:
len(installs)

160861

In [75]:
len(listas_)

393565

In [ ]:
listas_ =

In [74]:
listas_ = window_1.groupby('ref_hash')['created'].agg(list)

In [72]:
a['diff_time'] = (a['created']- a['first_install'] ).dt.total_seconds()/ a['count']
# a.groupby('ref_hash')['created'].sum()
# a.groupby('ref_hash')['time'].sum()
a['diff_time']

/home/eliana/fiuba/datos7506/envdt/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

137511        0.000000
102174        8.559222
282958      585.442222
227659      587.393556
227658      587.398556
290523      680.394222
290520      681.784778
263262     1029.641444
216668        0.000000
42268        63.011222
42264        63.012778
447023    10743.690889
344161    12961.798222
344160    12963.724111
297308    15916.569889
297321    15916.747000
261882    15942.226222
261879    15944.267778
Name: diff_time, dtype: float64

In [56]:
b = a.groupby('ref_hash')['time'].transform('mean')
datetime.datetime(b)

NameError: name 'datetime' is not defined

In [ ]:
def mean_date(x):
    x = 0
    print(fecha)
    first = x['first_install']
    for fecha in 
    x += fecha - first
    first = fecha

In [53]:
a.groupby('ref_hash').agg({'created': lambda x: list(x)})

                    created
ref_hash
1000001243847627208      []
1000061425870948777      []
1000080701377762047      []
1000085014918096773      []
1000095322020146100      []
100010331276132711       []
1000138003886484266      []
1000169251625791246      []
1000172260833750114      []
1000193663803871158      []
1000214925038058238      []
1000252911429490816      []
1000280583608032134      []
1000288182047842384      []
1000289045777700145      []
1000289257101263364      []
1000298337185304784      []
1000303030927429183      []
1000311397529546585      []
1000395625957344683      []
1000400432115255220      []
1000415819191128399      []
100043173982509042       []
1000460323586746418      []
1000503354791340162      []
1000503394293263005      []
1000511065592673272      []
1000562420932097965      []
1000579005153547970      []
100060337727376595       []
...                     ...
99929747069593628        []
999332789881131365       []
999339728099534212       []
999343332298494610       []
999449978116137705       []
999470036713556672       []
999472619848715560       []
999487176172468285       []
999494794341860534       []
999497118109831317       []
999505209667894251       []
999560718313731479       []
999580121817621990       []
999598199450596831       []
999670327859005635       []
999677022268213435       []
999678363267430226       []
99968097323969007        []
999688438448340320       []
999825603100465965       []
999841152693402008       []
999856679828258296       []
999859387216211037       []
999861371278413448       []
999867993116515976       []
999878474894177654       []
999917152933638835       []
999935416295858644       []
999940515753522169       []
999946870138086085       []

[393565 rows x 1 columns]

In [12]:
window_1['count'] = (window_1.groupby('ref_hash')['ref_hash']).transform('count')

In [13]:
window_1['last_install'] = window_1.groupby('ref_hash')['created'].transform('max')

In [14]:
window_1['first_install'] = window_1.groupby('ref_hash')['created'].transform('min')

In [38]:
# window_1.loc[window_1['total_count'] > window_1['count']].head()

In [15]:
window_1['diff_first'] = (window_1['created'] - window_1['first_install']).dt.total_seconds()

In [ ]:
# tomo los dos primeros valores de cada ref_hash en time!
# deberia hacer esto por cada ventana y no por el total, sino cuando separe las ventanas no va funcionar

a = (window_1.sort_values('created').groupby('ref_hash').head(2))

In [18]:
print(len(window_1))
print(len(window_2))
print(len(window_3))
print(len(window_4))
print(len(window_5))

160861
157363
158559
160617
159013

# **XGBOOX**

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston

In [ ]:
boston = load_boston()

In [36]:
rf = RandomForestRegressor(n_estimators = 2, random_state = 0)
rf.fit(window_1,window_1)
window_1_pred = rf.predict(window_2)

In [21]:
# installs = installs['kind'].fillna('unknown_')
# open_app = installs[installs['kind'].str.contains('open')]
# open_app

In [34]:
window_1_pred

array([[ 1.00168373e+17,  3.42000000e+01,  9.50000000e-01,
         0.00000000e+00,  0.00000000e+00,  6.00000000e-01],
       [ 1.00170625e+18,  2.31500000e+01,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -3.50000000e-01],
       [ 1.00180223e+18,  3.41500000e+01,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  6.50000000e-01],
       ...,
       [ 9.98574351e+17,  9.42000000e+01,  1.00000000e+00,
         0.00000000e+00,  1.50000000e-01, -5.50000000e-01],
       [ 9.98576690e+17,  1.28000000e+02,  1.00000000e+00,
         0.00000000e+00,  5.00000000e-02, -8.50000000e-01],
       [ 9.98576690e+17,  1.28000000e+02,  1.00000000e+00,
         0.00000000e+00,  5.00000000e-02, -8.50000000e-01]])

In [ ]:
rf.fit(windows[features], y)

### Clicks

In [37]:
clicks = pd.read_csv("data/clicks.csv.gzip")

clicks = clicks.drop(columns=['agent_device', 'os_minor', 'os_major', 'country_code', 'action_id'\
                'brand', 'touchX', 'touchY', 'specs_brand', 'carrier_id', 'longitude', 'latitude'], axis=1)

/home/eliana/fiuba/datos7506/envdt/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
clicks.head()

,advertiser_id,action_id,source_id,created,wifi_connection,trans_id,timeToClick,ref_type,ref_hash
0,1,NaN,2,2019-04-18T05:27:42.197Z,False,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,2.317,1891515180541284343,1293710398598742392
1,1,NaN,1,2019-04-18T05:27:03.164Z,True,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,7.653,1891515180541284343,1663930990551616564
2,1,NaN,1,2019-04-18T05:42:07.926Z,True,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,464.796,1891515180541284343,8488038938665586188
3,1,NaN,1,2019-04-18T05:26:04.446Z,True,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,225.311,1891515180541284343,6488361690105189959
4,1,NaN,1,2019-04-18T05:23:37.764Z,True,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,84.736,1891515180541284343,1348993302102753419

In [ ]:
installs['wifi'] = installs['wifi'].map({True: 1, False: 0})
installs['wifi'] = installs['wifi'].fillna(-1)

installs['ref_type'] = installs['ref_type'].map({'1891515180541284343': 1, '1494519392962156891': 0})

In [74]:
window_1_click = clicks[clicks['created'].between('2019-04-18', '2019-04-21')]

In [75]:
clicks_first = pd.merge(window_1_click, window_1_click.groupby('ref_hash').agg('size').reset_index(), on='ref_hash', how='inner')

In [76]:
clicks_first = clicks_first.drop_duplicates('ref_hash')

In [90]:
installs_ref_hash_2 = pd.merge(installs, clicks, on='ref_hash', how='inner')

In [91]:
installs_ref_hash_2.head()

Empty DataFrame
Columns: [created_x, application_id, ref_type_x, ref_hash, click_hash, attributed, implicit, kind, wifi, trans_id_x, advertiser_id, action_id, source_id, created_y, wifi_connection, trans_id_y, timeToClick, ref_type_y]
Index: []