In [2]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()

In [7]:
dtypes_dict = {'created':'str',  'ref_type': 'category', 'device_brand': np.float32, \
                'device_countrycode': 'category', 'device_language': 'category', \
                'ref_hash': 'category', 'kind': 'str', 'user_agent': 'str'}

installs = pd.read_csv('data/installs.csv.gzip', dtype=dtypes_dict)

installs = installs.drop('device_countrycode', axis=1)
installs['created'] = pd.to_datetime(installs['created'], format='%Y-%m-%d %H:%M:%S')

/home/eliana/fiuba/datos7506/envdt/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
installs = installs.drop(columns=['device_language', 'ip_address', 'event_uuid', 'device_brand', \
                         'device_model', 'click_hash'])

In [11]:
installs['user_agent'].value_counts().head(20)
prueba= installs.loc[~installs['user_agent'].astype(str).str.lower().str.contains("mozilla|grability|wish|trivago|mercadopago|dalvik") == True]['user_agent']
prueba.value_counts()

SinDelantal/1 CFNetwork/978.0.7 Darwin/18.5.0                 2306
Gardenscapes/3.3.2 CFNetwork/978.0.7 Darwin/18.5.0            2265
TikTok/109005 CFNetwork/978.0.7 Darwin/18.5.0                 1816
Zaful/1.3 CFNetwork/978.0.7 Darwin/18.5.0                     1748
TikTok/110003 CFNetwork/978.0.7 Darwin/18.5.0                 1165
SinDelantal/2 CFNetwork/978.0.7 Darwin/18.5.0                  966
Cornershop/539 CFNetwork/978.0.7 Darwin/18.5.0                 927
Binomo/0 CFNetwork/978.0.7 Darwin/18.5.0                       915
Postmates/2325 CFNetwork/978.0.7 Darwin/18.5.0                 714
TuLotero/448 CFNetwork/978.0.7 Darwin/18.5.0                   691
Gardenscapes/3.3.2 CFNetwork/758.5.3 Darwin/15.6.0             679
Gardenscapes/3.3.2 CFNetwork/976 Darwin/18.2.0                 672
AirBrush/4.6.7.0 CFNetwork/978.0.7 Darwin/18.5.0               614
TikTok/109005 CFNetwork/976 Darwin/18.2.0                      564
SinDelantal/1 CFNetwork/976 Darwin/18.2.0                      542
Zaful/1.3 CFNetwork/976 Darwin/18.2.0                          529
TikTok/110003 CFNetwork/976 Darwin/18.2.0                      366
TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0                  332
Postmates/2286 CFNetwork/978.0.7 Darwin/18.5.0                 320
CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0                    262
Gardenscapes/3.3.2 CFNetwork/811.5.4 Darwin/16.7.0             233
TikTok/110003 CFNetwork/758.5.3 Darwin/15.6.0                  228
SinDelantal/2 CFNetwork/976 Darwin/18.2.0                      225
Praia%20Bingo/26.3.2 CFNetwork/978.0.7 Darwin/18.5.0           216
TheWeather/424430 CFNetwork/978.0.7 Darwin/18.5.0              214
Workouts/2 CFNetwork/978.0.7 Darwin/18.5.0                     213
yousician/57316 CFNetwork/978.0.7 Darwin/18.5.0                207
Gardenscapes/3.3.0 CFNetwork/978.0.7 Darwin/18.5.0             201
Cornershop/539 CFNetwork/976 Darwin/18.2.0                     196
AirBrush/4.6.7.0 CFNetwork/976 Darwin/18.2.0                   185
                                                              ...
Postmates/2286 CFNetwork/897.15 Darwin/17.5.0                    1
Netshoes/580 CFNetwork/975.0.3 Darwin/18.2.0                     1
Shutterfly/157 CFNetwork/893.14.2 Darwin/17.3.0                  1
Shutterfly/104 CFNetwork/978.0.7 Darwin/18.5.0                   1
Stash/12232 CFNetwork/976 Darwin/18.2.0                          1
TikTok/106004 CFNetwork/808.0.2 Darwin/16.0.0                    1
Binomo/0 CFNetwork/811.5.4 Darwin/16.7.0                         1
Agoda.Consumer/4665.2 CFNetwork/976 Darwin/18.2.0                1
yousician/57316 CFNetwork/808.3 Darwin/16.3.0                    1
Cornershop/539 CFNetwork/808.0.2 Darwin/16.0.0                   1
Hulu/50000190 CFNetwork/978.0.7 Darwin/18.5.0                    1
Postmates/1209 CFNetwork/976 Darwin/18.2.0                       1
Rosegal/20190415.1 CFNetwork/758.3.15 Darwin/15.4.0              1
TuLotero/448 CFNetwork/893.14.2 Darwin/17.3.0                    1
CATS/187753 CFNetwork/811.5.4 Darwin/16.7.0                      1
Gardenscapes/3.3.0 CFNetwork/887 Darwin/17.0.0                   1
Hulu/50000393 CFNetwork/893.14.2 Darwin/17.3.0                   1
Postmates/2007 CFNetwork/978.0.7 Darwin/18.5.0                   1
Huuuge%20Casino/3.7.1181 CFNetwork/901.1 Darwin/17.6.0           1
Praia%20Bingo/25.10.1 CFNetwork/758.5.3 Darwin/15.6.0            1
Huuuge%20Casino/3.5.1099 CFNetwork/811.5.4 Darwin/16.7.0         1
yousician/55229 CFNetwork/811.5.4 Darwin/16.7.0                  1
Musical.ly/20170928001 CFNetwork/711.1.12 Darwin/14.0.0          1
fafafagold/22 CFNetwork/758.5.3 Darwin/15.6.0                    1
TheWeather/424438 CFNetwork/893.14.2 Darwin/17.3.0               1
Hulu/41001002 CFNetwork/758.5.3 Darwin/15.6.0                    1
Praia%20Bingo/26.3.2 CFNetwork/901.1 Darwin/17.6.0               1
Norton%20WiFi%20Privacy/1351 CFNetwork/901.1 Darwin/17.6.0       1
Billionaire/2.7.34 CFNetwork/758.5.3 Darwin/15.6.0               1
Grab/303637 CFNetwork/976 Darwin/18.2.0                          1
Name: user_agent, Length: 965, dtype: int64

In [39]:
installs.loc[~installs['user_agent'].astype(str).str.lower().str.contains("mozilla|dalvik|wish|mercadopago|trivago|grability") == True]['user_agent'].value_counts()
# installs.loc[installs['user_agent'].astype(str).str.lower().str.contains("trivago") == True]['user_agent'].value_counts()

SinDelantal/1 CFNetwork/978.0.7 Darwin/18.5.0                                             2306
Gardenscapes/3.3.2 CFNetwork/978.0.7 Darwin/18.5.0                                        2265
TikTok/109005 CFNetwork/978.0.7 Darwin/18.5.0                                             1816
Zaful/1.3 CFNetwork/978.0.7 Darwin/18.5.0                                                 1748
TikTok/110003 CFNetwork/978.0.7 Darwin/18.5.0                                             1165
SinDelantal/2 CFNetwork/978.0.7 Darwin/18.5.0                                              966
Cornershop/539 CFNetwork/978.0.7 Darwin/18.5.0                                             927
Binomo/0 CFNetwork/978.0.7 Darwin/18.5.0                                                   915
Postmates/2325 CFNetwork/978.0.7 Darwin/18.5.0                                             714
TuLotero/448 CFNetwork/978.0.7 Darwin/18.5.0                                               691
Gardenscapes/3.3.2 CFNetwork/758.5.3 Darwin/15.6.0                                         679
Gardenscapes/3.3.2 CFNetwork/976 Darwin/18.2.0                                             672
AirBrush/4.6.7.0 CFNetwork/978.0.7 Darwin/18.5.0                                           614
TikTok/109005 CFNetwork/976 Darwin/18.2.0                                                  564
SinDelantal/1 CFNetwork/976 Darwin/18.2.0                                                  542
Zaful/1.3 CFNetwork/976 Darwin/18.2.0                                                      529
TikTok/110003 CFNetwork/976 Darwin/18.2.0                                                  366
TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0                                              332
Postmates/2286 CFNetwork/978.0.7 Darwin/18.5.0                                             320
CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0                                                262
Gardenscapes/3.3.2 CFNetwork/811.5.4 Darwin/16.7.0                                         233
TikTok/110003 CFNetwork/758.5.3 Darwin/15.6.0                                              228
SinDelantal/2 CFNetwork/976 Darwin/18.2.0                                                  225
Praia%20Bingo/26.3.2 CFNetwork/978.0.7 Darwin/18.5.0                                       216
TheWeather/424430 CFNetwork/978.0.7 Darwin/18.5.0                                          214
Workouts/2 CFNetwork/978.0.7 Darwin/18.5.0                                                 213
yousician/57316 CFNetwork/978.0.7 Darwin/18.5.0                                            207
Gardenscapes/3.3.0 CFNetwork/978.0.7 Darwin/18.5.0                                         201
Cornershop/539 CFNetwork/976 Darwin/18.2.0                                                 196
AirBrush/4.6.7.0 CFNetwork/976 Darwin/18.2.0                                               185
                                                                                          ...
Hulu/50000393 CFNetwork/976 Darwin/18.2.0                                                    1
fafafagold/22 CFNetwork/976 Darwin/18.2.0                                                    1
SinDelantal/1.1 CFNetwork/975.0.3 Darwin/18.2.0                                              1
Praia%20Bingo/26.3.2 CFNetwork/901.1 Darwin/17.6.0                                           1
Workouts/2 CFNetwork/811.4.18 Darwin/16.5.0                                                  1
TikTok/108004 CFNetwork/976 Darwin/18.2.0                                                    1
Billionaire/3.3.1006 CFNetwork/978.0.7 Darwin/18.5.0                                         1
TheWeather/424430 CFNetwork/897.15 Darwin/17.5.0                                             1
DHgate/1 CFNetwork/975.0.3 Darwin/18.2.0                                                     1
Postmates/2325 CFNetwork/808.2.16 Darwin/16.3.0                                              1
TheWeather/424438 CFNetwork/901.1 Darwin/17.6.0                                              1
Zaful/1.0 CFNetwork/811.5.4 Darwin/16.7.0                                                    1
Binomo/0 CFNetwork/808.1.4 Darwin/16.1.0                                                     1
TikTok/81005 CFNetwork/978.0.7 Darwin/18.5.0                                                 1
Hulu/50000423 CFNetwork/893.14.2 Darwin/17.3.0                                               1
Cornershop/475 CFNetwork/978.0.7 Darwin/18.5.0                                               1
TikTok/86001 CFNetwork/902.2 Darwin/17.7.0                                                   1
SinDelantal/1.0 CFNetwork/978.0.7 Darwin/18.5.0                                              1
TheWeather/424419 CFNetwork/978.0.7 Darwin/18.5.0                                            1
SinDelantal/5 CFNetwork/887 Darwin/17.0.0                                                    1
MagicCasino/2.4.151 CFNetwork/672.1.14 Darwin/14.0.0                                         1
Gardenscapes/3.2.0 CFNetwork/974.2.1 Darwin/18.0.0                                           1
5miles/2717 CFNetwork/889.9 Darwin/17.2.0                                                    1
eToro/4 CFNetwork/758.5.3 Darwin/15.6.0                                                      1
%E3%83%93%E3%83%AA%E3%82%AA%E3%83%8D%E3%82%A2/4.1.1313 CFNetwork/978.0.7 Darwin/18.5.0       1
AirBrush/4.6.7.0 CFNetwork/811.4.18 Darwin/16.5.0                                            1
Praia%20Bingo/25.11.0 CFNetwork/711.1.16 Darwin/14.0.0                                       1
eToro/1 CFNetwork/902.2 Darwin/17.7.0                                                        1
AirBrush/4.6.7.0 CFNetwork/808.1.4 Darwin/16.1.0                                             1
MagicCasino/2.4.21 CFNetwork/672.1.15 Darwin/14.0.0                                          1
Name: user_agent, Length: 965, dtype: int64

In [4]:
# Normalizacion de valores a binario

installs['wifi'] = installs['wifi'].map({True: 1, False: 0})
installs['wifi'] = installs['wifi'].fillna(-1)

installs['attributed'] = installs['attributed'].map({True: 1, False: 0})
installs['implicit'] = installs['implicit'].map({True: 1, False: 0})
installs['ref_type'] = installs['ref_type'].map({'1891515180541284343': 1, '1494519392962156891': 0})

In [211]:
# installs kinds to features

installs['kind_open'] = (installs['kind'].astype(str).str.lower().str.contains("open|abertura") == True).astype(int)
installs['kind_home'] = (installs['kind'].astype(str).str.lower().str.contains("home") == True).astype(int)
installs['kind_start'] = (installs['kind'].astype(str).str.lower().str.contains("start") == True).astype(int)
installs['kind_view'] = (installs['kind'].astype(str).str.lower().str.contains("view") == True).astype(int)
installs['kind_sign'] = (installs['kind'].astype(str).str.lower().str.contains("sign|registration|account") == True).astype(int)
installs['kind_login'] = (installs['kind'].astype(str).str.lower().str.contains("login|begin") == True).astype(int)
installs['kind_launch'] = (installs['kind'].astype(str).str.lower().str.contains("launch") == True).astype(int)
installs['kind_install'] = (installs['kind'].astype(str).str.lower().str.contains("install") == True).astype(int)
installs['kind_purchase'] = (installs['kind'].astype(str).str.lower().str.contains("purchase|buy") == True).astype(int)
installs['kind_add'] = (installs['kind'].astype(str).str.lower().str.contains("add") == True).astype(int)

In [25]:
# session_user_agent features

installs['iphone'] = (installs['session_user_agent'].astype(str).str.lower().str.contains("iphone|mac os") == True).astype(int)
installs['android'] = (installs['session_user_agent'].astype(str).str.lower().str.contains("android") == True).astype(int)

# installs['http_kit'] = (installs['user_agent'].astype(str).str.lower().str.contains("http-kit") == True).astype(int)
# installs['adjust'] = (installs['user_agent'].astype(str).str.lower().str.contains("adjust") == True).astype(int)
# installs['hasoffers'] = (installs['session_user_agent'].astype(str).str.lower().str.contains("hasoffers") == True).astype(int)
# installs['apsalar'] = (installs['session_user_agent'].astype(str).str.lower().str.contains("apsalar") == True).astype(int)
# installs['metrics'] = (installs['session_user_agent'].astype(str).str.lower().str.contains("metrics") == True).astype(int)

In [ ]:
# user_agent features

installs['sin_delantal'] = (installs['user_agent'].astype(str).str.lower().str.contains("sindelantal") == True).astype(int)
installs['sin_delantal'] = (installs['user_agent'].astype(str).str.lower().str.contains("sindelantal") == True).astype(int)
installs['dalvik'] = (installs['user_agent'].astype(str).str.lower().str.contains("dalvik") == True).astype(int)
installs['wish'] = (installs['user_agent'].astype(str).str.lower().str.contains("wish") == True).astype(int)
installs['trivago'] = (installs['user_agent'].astype(str).str.lower().str.contains("trivago") == True).astype(int)
installs['grability'] = (installs['user_agent'].astype(str).str.lower().str.contains("grability") == True).astype(int)
installs['mercado_pago'] = (installs['user_agent'].astype(str).str.lower().str.contains("mercadopago") == True).astype(int)

In [231]:
user_else = installs.loc[~installs['user_agent'].astype(str).str.lower().str.contains("iphone|android|network")== True]

In [6]:
# user_else['application_id'].value_counts()

In [175]:
kinds_else = installs.loc[~installs['kind'].astype(str).str.lower().str.contains("open|view|sign|launch|login|install|registration|begin|abertura|home|account|purchase|buy|start|add")== True]

In [26]:
installs.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,session_user_agent,user_agent,kind,wifi,trans_id,iphone,android,mac_os
0,2019-04-24 06:23:29.495,1,0,4716708407362582887,0,1,adjust.com,NaN,app_open,-1.0,NaN,0,0,0
1,2019-04-24 02:06:01.032,1,0,7143568733100935872,0,0,adjust.com,NaN,NaN,-1.0,NaN,0,0,0
2,2019-04-20 10:15:36.274,1,0,5230323462636548010,0,1,adjust.com,NaN,app_open,-1.0,NaN,0,0,0
3,2019-04-20 21:56:47.151,1,0,5097163995161606833,0,1,adjust.com,NaN,app_open,-1.0,NaN,0,0,0
4,2019-04-20 22:40:41.239,1,0,6328027616411983332,0,0,adjust.com,NaN,NaN,-1.0,NaN,0,0,0

In [181]:
installs_ref_hash = installs.sort_values('created').groupby('ref_hash').first().reset_index()
installs_ref_hash.head()
# installs_ref_hash = installs_ref_hash.drop_duplicates('ref_hash')

,ref_hash,created,application_id,ref_type,attributed,implicit,kind,wifi,trans_id,kind_open,kind_view,kind_sign,kind_login,kind_launch,kind_install,kind_home,kind_start,kind_purchase,kind_add
0,1000080701377762047,2019-04-23 03:41:09.591,36,1,0,0,NaN,1.0,NaN,0,0,0,0,0,0,0,0,0,0
1,1001119090178288651,2019-04-21 23:44:20.932,36,1,0,0,NaN,1.0,NaN,0,0,0,0,0,0,0,0,0,0
2,100141508580250250,2019-04-19 01:27:27.546,36,1,0,0,NaN,1.0,NaN,0,0,0,0,0,0,0,0,0,0
3,1001651378807691974,2019-04-26 02:27:48.942,14,1,0,0,NaN,-1.0,NaN,0,0,0,0,0,0,0,0,0,0
4,1001828092778461413,2019-04-19 17:19:09.983,36,1,0,0,NaN,1.0,NaN,0,0,0,0,0,0,0,0,0,0

## Ventanas para train y test

In [31]:
# Ventanas para train y testing
window_1 = installs_ref_hash.loc[installs['created'].between('2019-04-18', '2019-04-21')]
window_2 = installs_ref_hash.loc[installs['created'].between('2019-04-19', '2019-04-22')]
window_3 = installs_ref_hash.loc[installs['created'].between('2019-04-20', '2019-04-23')]
window_4 = installs_ref_hash.loc[installs['created'].between('2019-04-21', '2019-04-24')]
window_5 = installs_ref_hash.loc[installs['created'].between('2019-04-22', '2019-04-25')]

In [32]:
window_1 = window_1.drop('created', axis=1)
window_2 = window_2.drop('created', axis=1)
window_3 = window_3.drop('created', axis=1)
window_4 = window_4.drop('created', axis=1)
window_5 = window_5.drop('created', axis=1)

In [18]:
print(len(window_1))
print(len(window_2))
print(len(window_3))
print(len(window_4))
print(len(window_5))

160861
157363
158559
160617
159013

In [20]:
window_1.head()

,ref_hash,created,application_id,ref_type,attributed,implicit,kind,wifi
2,100141508580250250,2019-04-19 01:27:27.546,36,1,0,0,NaN,1.0
3,1001651378807691974,2019-04-26 02:27:48.942,14,1,0,0,NaN,-1.0
4,1001828092778461413,2019-04-19 17:19:09.983,36,1,0,0,NaN,1.0
5,1002244385077689963,2019-04-23 04:15:39.362,121,1,0,0,NaN,1.0
6,1002667167865855169,2019-04-22 18:47:14.396,36,1,0,0,NaN,1.0

In [36]:
rf = RandomForestRegressor(n_estimators = 2, random_state = 0)
rf.fit(window_1,window_1)
window_1_pred = rf.predict(window_2)

In [21]:
# installs = installs['kind'].fillna('unknown_')
# open_app = installs[installs['kind'].str.contains('open')]
# open_app

In [34]:
window_1_pred

array([[ 1.00168373e+17,  3.42000000e+01,  9.50000000e-01,
         0.00000000e+00,  0.00000000e+00,  6.00000000e-01],
       [ 1.00170625e+18,  2.31500000e+01,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -3.50000000e-01],
       [ 1.00180223e+18,  3.41500000e+01,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  6.50000000e-01],
       ...,
       [ 9.98574351e+17,  9.42000000e+01,  1.00000000e+00,
         0.00000000e+00,  1.50000000e-01, -5.50000000e-01],
       [ 9.98576690e+17,  1.28000000e+02,  1.00000000e+00,
         0.00000000e+00,  5.00000000e-02, -8.50000000e-01],
       [ 9.98576690e+17,  1.28000000e+02,  1.00000000e+00,
         0.00000000e+00,  5.00000000e-02, -8.50000000e-01]])

In [ ]:
rf.fit(windows[features], y)

### Clicks

In [37]:
clicks = pd.read_csv("data/clicks.csv.gzip")

clicks = clicks.drop(columns=['agent_device', 'os_minor', 'os_major', 'country_code', 'action_id'\
                'brand', 'touchX', 'touchY', 'specs_brand', 'carrier_id', 'longitude', 'latitude'], axis=1)

/home/eliana/fiuba/datos7506/envdt/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
clicks.head()

,advertiser_id,action_id,source_id,created,wifi_connection,trans_id,timeToClick,ref_type,ref_hash
0,1,NaN,2,2019-04-18T05:27:42.197Z,False,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,2.317,1891515180541284343,1293710398598742392
1,1,NaN,1,2019-04-18T05:27:03.164Z,True,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,7.653,1891515180541284343,1663930990551616564
2,1,NaN,1,2019-04-18T05:42:07.926Z,True,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,464.796,1891515180541284343,8488038938665586188
3,1,NaN,1,2019-04-18T05:26:04.446Z,True,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,225.311,1891515180541284343,6488361690105189959
4,1,NaN,1,2019-04-18T05:23:37.764Z,True,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,84.736,1891515180541284343,1348993302102753419

In [ ]:
installs['wifi'] = installs['wifi'].map({True: 1, False: 0})
installs['wifi'] = installs['wifi'].fillna(-1)

installs['ref_type'] = installs['ref_type'].map({'1891515180541284343': 1, '1494519392962156891': 0})

In [74]:
window_1_click = clicks[clicks['created'].between('2019-04-18', '2019-04-21')]

In [75]:
clicks_first = pd.merge(window_1_click, window_1_click.groupby('ref_hash').agg('size').reset_index(), on='ref_hash', how='inner')

In [76]:
clicks_first = clicks_first.drop_duplicates('ref_hash')

In [90]:
installs_ref_hash_2 = pd.merge(installs, clicks, on='ref_hash', how='inner')

In [91]:
installs_ref_hash_2.head()

Empty DataFrame
Columns: [created_x, application_id, ref_type_x, ref_hash, click_hash, attributed, implicit, kind, wifi, trans_id_x, advertiser_id, action_id, source_id, created_y, wifi_connection, trans_id_y, timeToClick, ref_type_y]
Index: []